@model List<WebQuanLyNhaHang.ViewModel.CTDH_Product>

<div class="product-details">
    <h3>Chi tiết sản phẩm</h3>
    <table class="product-table">
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Giá</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.TenSanPham</td>
                    <td>@item.SoLuong</td>
                    <td>@string.Format("{0:N0}" , item.ThanhTien)VNĐ</td>
                </tr>
            }
        </tbody>
    </table>
</div>